<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENUE SUR ROYALTY</span>
        <span id="welcomeDescription">Notre mission est de créer un univers imaginé par nous-même dans une lignée fantastique. Classes, magie, quêtes et encore par de nombreux 
            monstres, vous pourrez avancer dans ce monde en cotoyant de nombreux autres joueurs! Grâce à vos efforts et à celui de la communauté, nous avons pensé à vous 
            offrir un serveur complet, stable et passionnant à l'intérieur de Minecraft!
            
            C'est à vous d'explorer le monde que nous créons. Que vous soyez plutôt aventurier, souhaitez découvrir les moindres recoins de l'histoire de notre univers ou encore accomplir des quêtes et des donjons, tout est possible. L'heure a sonné pour vous de prendre épée et bouclier, d'explorer des terres arides d'El'Iman à la toundra du Royaume de Thel'ra.</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes plus qu'à quelques clics de notre univers!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>